.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    h1 {
        font-size: 24px;
        margin: 0;
    }
    nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            li {
                margin-right: 20px;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    transition: color 0.3s;
                        &:hover {
                        color: #DADA00;
                        &::before {
                            content: '{ ';
                        }
                        &::after {
                            content: ' }';
                        }
                    }
                }
            }
        }
    }
    .logout-button {
        background-color: #DADA00;
        color: #333;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: #ffcc00;
        }
    }
}
p {
    color: #DADA00;
}

.active {
    color: #DADA00 !important;
}

.logo {
    display: flex;
    align-items: baseline;
}
.user {
    padding-left: 1rem;
}